/*
  Oh Hello!

  These are some base styles so that our tutorial looks good.

  Let's go through the important bits real quick
*/
:root {
    --lightgreen: #BADA55;
    --hello: rgb(40, 110, 87);
    --yellow: #ffc600;
    --black: #272727;
    --darkbrown: #775933c2;
    --dimwhite: #faf1d7c9;
  }
  
  html {
    /* border-box box model allows us to add padding and border to our elements without increasing their size */
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
      Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
  }
  
  /*
    WAT IS THIS?!
    We inherit box-sizing: border-box; from our <html> selector
    Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
  */
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    background-image: url("bright-dawn-evening-2440061.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow: hidden;
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }
  /* Each item in our grid will contain numbers */
  .item {
    /* We center the contents of these items. You can also do this with flexbox too! */
    display: grid;
    justify-content: center;
    align-items: center;
    border: 5px solid rgba(0, 0, 0, 0.03);
    border-radius: 3px;
    font-size: 35px;
    /*background-color: var(--darkbrown); best colour */
  }
  .val{
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--darkbrown);
    border-radius: 3px;
    /* border: 0px solid #feae7100; */
    

  }
  .container .item .val:hover{
    
    background-color: rgb(209, 211, 94);
  }
  
  .item p {
    margin: 0 0 5px 0;
  }
  .position1, .position2{
      background-color: var(--dimwhite);
  }
  /* @media(max-width: 320px){
    body{
        background-size: 320px,cover;
    }
  }
  @media(max-width: 375px){
    body{
        background-size: 375px, cover;
    }
  }
  @media(max-width: 425px){
    body{
        background-size: 425px, cover;
    }
  } */
  /* @media(max-width: 10px){
    body{
        background-size: 320px, auto;
    }
  } */